<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HttpVersion" value="HTTP/1.1"/>
    <add key="ServiceName" value="Data Filtering Server"/>
    <add key="MsgDirectory" value="\Views\Error\"/>
    <add key="WebDirectory" value="\Views\Web\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>